# Pandas Lab Exercise


## Part - 1
We shall now test your skills in using Pandas package. We will be using the [games Dataset](https://www.kaggle.com/gutsyrobot/games-data/data) from Kaggle. 

Answer each question asked below wrt the games dataset.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read games.csv as a dataframe called games.**

In [2]:
games=pd.read_csv('games.csv')

In [3]:
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

** Check the head of the DataFrame. **

In [4]:
games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Data columns (total 20 columns):
id                      81312 non-null int64
type                    81312 non-null object
name                    81271 non-null object
yearpublished           81309 non-null float64
minplayers              81309 non-null float64
maxplayers              81309 non-null float64
playingtime             81309 non-null float64
minplaytime             81309 non-null float64
maxplaytime             81309 non-null float64
minage                  81309 non-null float64
users_rated             81312 non-null int64
average_rating          81312 non-null float64
bayes_average_rating    81312 non-null float64
total_owners            81312 non-null int64
total_traders           81312 non-null int64
total_wanters           81312 non-null int64
total_wishers           81312 non-null int64
total_comments          81312 non-null int64
total_weights           81312 non-null int64
average_weight          81312 non-null float64
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

** Use .info() method to find out total number of entries in dataset**

**What is the mean playin time for all games put together ?**

In [6]:
games['playingtime'].mean()

51.63478827682052

** What is the highest number of comments received for a game? **

In [9]:
games[games['total_comments'] == games['total_comments'].max()]['total_comments']

165     11798
1965    11798
Name: total_comments, dtype: int64

** What is the name of the game with id 1500?  **

In [10]:
games[games['id'] == 1500]['name']

10592    Zocken
Name: name, dtype: object

** And which year was it published? **

In [11]:
games[games['id'] == 1500]['yearpublished']

10592    1999.0
Name: yearpublished, dtype: float64

** Which game has received highest number of comments? **

In [12]:
games[games['total_comments'] == games['total_comments'].max()]['name']

165     Catan
1965    Catan
Name: name, dtype: object

** Which games have received least number of comments? **

In [14]:
games[games['total_comments'] == games['total_comments'].min()]['name']

13048                                           Looney Leo
13054                                                 Dump
13068                                        Field of Fire
13095                                             Matheeno
13103    Auction America: The Trivia Game for Any Colle...
13114                                            LifeLinks
13116                                            Dear Abby
13124                                             Rolazone
13157                                               Ordino
13163                                             Kaminett
13169                          Don't Give Up Your Day Job!
13180                                Money, Power, Respect
13181                                         Nuts! To You
13188                                     Tower of Babylon
13218                                       Earthdefenders
13267                 ChessMage: Deck of the Myriad Shards
13335                                          Clean Sweep
13339                                                Rally
13341                                   Doomsday Cult 2000
13351                                  Mythrole: Merchants
13361                   Hurricane: The Game of the Tropics
13400                              Verflixt und Zugesperrt
13442                                       Scoop the Cash
13462                                            Ion Glory
13471                                          Sex Maniacs
13475                                      Space: The Game
13487                    Bill Oddie's Great Bird Race Game
13512                                        Mount Everest
13562      Fire On The Suns: Tactical Command Fleet Book 1
13563                  Fire On The Suns: Tactical Command!
                               ...
81281                                     A Colony in Mars
81282         Secrets of the Lost Tomb: The Elite Missions
81283                                  Coloretto: +3-Karte
81284                                              Frantic
81286              Jenga: Transformers  Rise of the Fallen
81287                           WarChess-X: The Armageddon
81288                               King Cat: Feline Feuds
81289                                        Re-Extinction
81290                        Hellweg westfalicus: Dortmund
81291                                       Fliegenschmaus
81292                                          Rogue Squad
81293                      Risk: Marvel Cinematic Universe
81294                             The Luzon Campaign, 1945
81295                                           Honey Wars
81296                     Eaten by Zombies!: Burn it down!
81297                    Wilson Gridiron Strategy Football
81298                                      Terra Incognita
81299                                            Bone Head
81300                                 Disney Eye Found It!
81301                                               Idfutr
81302                                           Micropolis
81303                                        Big Dope Deal
81304                                    Mega Civilization
81305                                          Succession!
81306                                     Stick and Stones
81307                                 Micro Rome: Aegyptus
81308    Trivial Pursuit: Marvel Cinematic Universe  Da...
81309                                            BEARanoia
81310                                              Freight
81311                                    Bingo Animal Kids
Name: name, Length: 29001, dtype: object

** What was the average minage of all games per game "type"? (boardgame & boardgameexpansion)**

In [18]:
games.groupby('type').mean()['minage']

type
boardgame             6.724798
boardgameexpansion    8.733321
Name: minage, dtype: float64

** How many unique games are there in the dataset? **

In [19]:
len(games['id'].unique())

79463

** How many boardgames and boardgameexpansions are there in the dataset?  **

In [20]:
games['type'].value_counts()

boardgame             70820
boardgameexpansion    10492
Name: type, dtype: int64

** Is there a correlation between playing time and total comments for the games? - Use the .corr() function **

In [21]:
games[['playingtime','total_comments']].corr() # No correlation.

                playingtime  total_comments
playingtime        1.000000        0.020645
total_comments     0.020645        1.000000